html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%
}

.page-container {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.side-bar {
  float: left;
  height: 100%;
  width: 25%;
  background-color: #F0F8FF;
  z-index: 10;
}

.side-item-box {
  display: block;
  width: 90%;
  margin: 1em auto;
}

.side-item {
  display: block;
  margin: 1em auto;
  width: 100%;
  height: 50px;
  background-color: black;
}

.side-item.title, .side-item.upload-button, .side-item.description, .side-item.graph {
  background-color: #F0F8FF;
}

.side-item canvas#chart {
  width: 100%;
  height: 100%;
}

.side-item.graph {
  height: 250px;
  border: 1px solid black;
  padding: 0.25em;
}

form {
  line-height: 2;
}

.move-button {
  width: 15%;
  margin-left: 90%;
}

#map-container {
	width: 75%;
	height: 100%;
	/*position: absolute;*/
  z-index: 0;
  float: right;
}

#map {
  width: 100%;
  height: 100%;
}
